<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>
<div class="container">
    <form>
        <div style="width: 20rem;">
            <h3>Delete trip</h3>
            <div class="input-group">
                <label>
                    Select trip for delete:
                    <select id="delTrip">
                        <option th:each="trip : ${trips}" th:value="${trip.getId()}">
                            <span th:text="${trip.getRoute().getDeparturePoint()}"></span>
                            &#8594;
                            <span th:text="${trip.getRoute().getArrivalPoint()}"></span>
                            <br />
                            <div>
                              <span>Date and time of departure: </span>
                              <span th:text="${trip.getDepartureDate()}"></span>
                            </div>
                        </option>
                    </select>
                    <button class="btn btn-danger mb-2" onclick="deleteTrip()">Delete</button>
                </label>
            </div>
        </div>
    </form>
</div>
</body>
<script>
  function getSelectedTripId() {
    let select = document.getElementById("delTrip");
    return  select.options[select.selectedIndex].value;
  }

  function deleteTrip() {
    $.ajax({
      url: 'trips/'+getSelectedTripId(),
      type: 'DELETE'
    });
  }
</script>
</html>
