<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All trips</title>
    <link rel="stylesheet" href="trips/styles/positioning.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="row justify-content-center" th:insert="trips/all.html"></div>
    <div class="row justify-content-center" th:insert="trips/formNew.html"></div>
    <div class="row justify-content-center" th:if="${trips.size() != 0}" th:insert="trips/formRemove.html"></div>
</div>
</body>
<script>

</script>

</html>
